@charset "UTF-8";

@font-face
{
    font-family: elephant;
    src: url("elephant.ttf");
}

body
{
    margin: 0;
    background-image: url("bluesquare.png");
    font-family: meiryo;
    font-size: 0;
}

.vignettebox
{
    margin: auto;
    margin-bottom: 50px;
    font-family: "elephant";
    --bubble-font-size: 53px;
}

.linkbox-wrap
{
    position: relative;
    width: 1000px;
    margin: auto;
}

footer
{
    height: 400px;
    width: 900px;
    margin: auto;
    margin-top: 100px;
}

footer p
{
    margin: 0;
    font-size: 12px;
    color: white;
    text-align: center;
}

footer .plogo
{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: white;
}

link-box
{
    --background-color: white;
}