@charset "UTF-8";

@font-face
{
    font-family: elephant;
    src: url("elephant.ttf");
}

body
{
    margin: 0;
    background-image: url("bluesquare.png");
    font-family: meiryo;
    font-size: 0;
}

.vignettebox
{
    margin: auto;
    margin-bottom: 50px;
    font-family: "elephant";
    --bubble-font-size: 53px;
}

.linkbox-wrap
{
    position: relative;
    width: 1000px;
    margin: auto;
}

link-box
{
    --background-color: white;
}